@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div>
            <a asp-controller="Survey" asp-action="Index" class="btn btn-success center" style="height:100px; color:white; width:400px;"><p>Пройти опрос</p></a>
        </div>
    </div>
</div>